In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [39]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [40]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [41]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Sarthak| 21|         0|
|  Lalit| 22|         1|
|   Amit| 21|         2|
+-------+---+----------+

In [42]:
df_pyspark.head(3)

[Row(Name='Sarthak', Age=21, Experience=0),
 Row(Name='Lalit', Age=22, Experience=1),
 Row(Name='Amit', Age=21, Experience=2)]

In [43]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Sarthak| 21|         0|
|  Lalit| 22|         1|
|   Amit| 21|         2|
+-------+---+----------+

In [44]:
df_pyspark.select(['Name','Experience']).show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|Sarthak|         0|
|  Lalit|         1|
|   Amit|         2|
+-------+----------+

In [45]:
df_pyspark['Name']

Column<'Name'>

In [46]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [47]:
df_pyspark.describe().show()

+-------+-------+------------------+----------+
|summary|   Name|               Age|Experience|
+-------+-------+------------------+----------+
|  count|      3|                 3|         3|
|   mean|   NULL|21.333333333333332|       1.0|
| stddev|   NULL|0.5773502691896258|       1.0|
|    min|   Amit|                21|         0|
|    max|Sarthak|                22|         2|
+-------+-------+------------------+----------+

In [48]:
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [49]:
df_pyspark.show()

+-------+---+----------+-----------------------+
|   Name|Age|Experience|Experience After 2 year|
+-------+---+----------+-----------------------+
|Sarthak| 21|         0|                      2|
|  Lalit| 22|         1|                      3|
|   Amit| 21|         2|                      4|
+-------+---+----------+-----------------------+

In [50]:
## drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [51]:
df_pyspark.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|Sarthak| 21|         0|
|  Lalit| 22|         1|
|   Amit| 21|         2|
+-------+---+----------+

In [52]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
| Sarthak| 21|         0|
|   Lalit| 22|         1|
|    Amit| 21|         2|
+--------+---+----------+