Handling missing values
1) Dropping Columns
2) Dropping Rows
3) Various Parameter in Dropping functionalities
4) Handling Missing values by Mean, Median, Mode

In [76]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Pracitse').getOrCreate()

In [77]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)

In [78]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience| salary|
+-------+----+----------+-------+
|Sarthak|  21|         0|      0|
|  Lalit|  22|         1| 800000|
|   Amit|  21|         2|1000000|
|Ajinkya|  23|         3| 600000|
| Deepak|  20|         1| 400000|
| Mahesh|NULL|      NULL| 300000|
|   NULL|  19|         0|      0|
|   NULL|  21|      NULL|   NULL|
+-------+----+----------+-------+

In [79]:
df_pyspark.drop('Name').show()

+----+----------+-------+
| Age|Experience| salary|
+----+----------+-------+
|  21|         0|      0|
|  22|         1| 800000|
|  21|         2|1000000|
|  23|         3| 600000|
|  20|         1| 400000|
|NULL|      NULL| 300000|
|  19|         0|      0|
|  21|      NULL|   NULL|
+----+----------+-------+

In [80]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience| salary|
+-------+----+----------+-------+
|Sarthak|  21|         0|      0|
|  Lalit|  22|         1| 800000|
|   Amit|  21|         2|1000000|
|Ajinkya|  23|         3| 600000|
| Deepak|  20|         1| 400000|
| Mahesh|NULL|      NULL| 300000|
|   NULL|  19|         0|      0|
|   NULL|  21|      NULL|   NULL|
+-------+----+----------+-------+

In [81]:
df_pyspark.na.drop().show()

+-------+---+----------+-------+
|   Name|Age|Experience| salary|
+-------+---+----------+-------+
|Sarthak| 21|         0|      0|
|  Lalit| 22|         1| 800000|
|   Amit| 21|         2|1000000|
|Ajinkya| 23|         3| 600000|
| Deepak| 20|         1| 400000|
+-------+---+----------+-------+

In [82]:
### any==how
df_pyspark.na.drop(how="any").show()

+-------+---+----------+-------+
|   Name|Age|Experience| salary|
+-------+---+----------+-------+
|Sarthak| 21|         0|      0|
|  Lalit| 22|         1| 800000|
|   Amit| 21|         2|1000000|
|Ajinkya| 23|         3| 600000|
| Deepak| 20|         1| 400000|
+-------+---+----------+-------+

In [83]:
### threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+-------+----+----------+-------+
|   Name| Age|Experience| salary|
+-------+----+----------+-------+
|Sarthak|  21|         0|      0|
|  Lalit|  22|         1| 800000|
|   Amit|  21|         2|1000000|
|Ajinkya|  23|         3| 600000|
| Deepak|  20|         1| 400000|
| Mahesh|NULL|      NULL| 300000|
|   NULL|  19|         0|      0|
+-------+----+----------+-------+

In [84]:
### subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+-------+---+----------+-------+
|   Name|Age|Experience| salary|
+-------+---+----------+-------+
|Sarthak| 21|         0|      0|
|  Lalit| 22|         1| 800000|
|   Amit| 21|         2|1000000|
|Ajinkya| 23|         3| 600000|
| Deepak| 20|         1| 400000|
|   NULL| 19|         0|      0|
|   NULL| 21|      NULL|   NULL|
+-------+---+----------+-------+

In [85]:
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience| salary|
+-------+----+----------+-------+
|Sarthak|  21|         0|      0|
|  Lalit|  22|         1| 800000|
|   Amit|  21|         2|1000000|
|Ajinkya|  23|         3| 600000|
| Deepak|  20|         1| 400000|
| Mahesh|NULL|      NULL| 300000|
|   NULL|  19|         0|      0|
|   NULL|  21|      NULL|   NULL|
+-------+----+----------+-------+

In [86]:
# Fill NULL values in string columns with 'Missing Values'
df_pyspark.fillna('Missing Values', subset=['Name'])

# Fill NULL values in integer columns with 0,we cannot write 'Missing Values'
int_columns = [col for col, dtype in df_pyspark.dtypes if dtype == 'int']
for col in int_columns:
    df_pyspark.fillna(0, subset=[col])

df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience| salary|
+-------+----+----------+-------+
|Sarthak|  21|         0|      0|
|  Lalit|  22|         1| 800000|
|   Amit|  21|         2|1000000|
|Ajinkya|  23|         3| 600000|
| Deepak|  20|         1| 400000|
| Mahesh|NULL|      NULL| 300000|
|   NULL|  19|         0|      0|
|   NULL|  21|      NULL|   NULL|
+-------+----+----------+-------+

In [87]:
# df_pyspark = df_pyspark.fillna('Missing Values')
# df_pyspark.show()
# #it works for string column only

# Replace 0 with NULL

In [100]:
# from pyspark.sql.functions import when, col

# Assuming df_pyspark is your DataFrame
for column in df_pyspark.columns:
    df_pyspark = df_pyspark.withColumn(column, when(col(column) == 0, None).otherwise(col(column)))

# Show the DataFrame
df_pyspark.show()

+-------+----+----------+-------+
|   Name| Age|Experience| salary|
+-------+----+----------+-------+
|Sarthak|  21|      NULL|   NULL|
|  Lalit|  22|         1| 800000|
|   Amit|  21|         2|1000000|
|Ajinkya|  23|         3| 600000|
| Deepak|  20|         1| 400000|
| Mahesh|NULL|      NULL| 300000|
|   NULL|  19|      NULL|   NULL|
|   NULL|  21|      NULL|   NULL|
+-------+----+----------+-------+

In [101]:
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['Age','Experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age',"Experience","salary"]]
    ).setStrategy("mean")

In [102]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+-------+-----------+------------------+--------------+
|   Name| Age|Experience| salary|Age_imputed|Experience_imputed|salary_imputed|
+-------+----+----------+-------+-----------+------------------+--------------+
|Sarthak|  21|      NULL|   NULL|         21|                 1|        620000|
|  Lalit|  22|         1| 800000|         22|                 1|        800000|
|   Amit|  21|         2|1000000|         21|                 2|       1000000|
|Ajinkya|  23|         3| 600000|         23|                 3|        600000|
| Deepak|  20|         1| 400000|         20|                 1|        400000|
| Mahesh|NULL|      NULL| 300000|         21|                 1|        300000|
|   NULL|  19|      NULL|   NULL|         19|                 1|        620000|
|   NULL|  21|      NULL|   NULL|         21|                 1|        620000|
+-------+----+----------+-------+-----------+------------------+--------------+